<footer>
  <ul class="icons">
    <li><a href="<%=@user.twitter%>" target="self" class="fa-twitter">Twitter</a></li>
    <li><a href="<%=@user.instagram%>" target="self" class="fa-instagram">Instagram</a></li>
    <li><a href="<%=@user.facebook%>" target="self" class="fa-facebook">Facebook</a></li>
  </ul>
</footer>
